/* small variation to the quote */
#citation blockquote{ font-size:2.4rem; border-left: none;}

/* make the picture appear at the center of the carousel, please!*/
.carousel-inner > .item > img 
{
    margin: 0 auto;
}

a {
    color: #363636;
}
/* custom vertical offsets  */
.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }
 
/* footer style */
#footerWrap { background-color:#222222; padding:40px 0;}
#footerWrap p { font-size:2.0rem; font-style: italic; color:#fff;}

